section#contact {
  background-color: #222;
  height: calc(100vh - 96px);
  font-family: 'Roboto', sans-serif, 'Inter UI',sans-serif;
  font-family: 'ns', sans-serif;
  color: darkcyan;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
