section#experience {
  background-color: #222;
  background-image: url(../../assets/code2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

.companies {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

@media only screen and (min-width: 120px) and (max-width : 767px) {
  .companies {
    flex-direction: column;
  }
}

ul {
  border-bottom: 1px solid #eee;
}

a {
  color: #06f;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

@media only screen and (min-width: 120px) and (max-width : 767px) {
  a {
    padding-bottom: 10px;
  }
}

img {
  height: 5rem;
  margin: 0 1rem;
  transition: transform 0.25s;
}

img:hover {
  transform: scale(1.25);
}
