section#experience {
  background-color: #222;
  background-image: url(../../assets/code.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;

  font-family: 'Roboto', sans-serif, 'Inter UI',sans-serif;
  font-family: 'ns', sans-serif;
}
