<section id="contact">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </section>

  <section class="container">
    <div class="center small">
      <h1 class="name">Milan Živanov</h1>
      <br>
      <p class="title">Frontend Developer</p>
    </div>
    <p class="center small contact">
      <a title="Call me" href="tel:+381649646048">
        +381&nbsp;64&nbsp;96&nbsp;46&nbsp;048
      </a>
      <br>
      <a title="Email me" href="mailto:milan.zivanov@gmail.com">
        milan.zivanov@gmail.com
      </a>
    </p>
    <p class="center nounderline links">
      <a title="Find me on Github" href="https://github.com/milanzivanov" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a title="Find me on LinkedIn" href="https://www.linkedin.com/in/milan-%C5%BEivanov-73a54847/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a title="Find me on Codepen" href="https://codepen.io/milanodituti/" target="_blank">
        <i class="fab fa-codepen"></i>
      </a>
    </p>
  </section>


