:host {
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 19;
}

// .menu-container {}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  list-style: none;
  padding: 10px;
  margin: 0;
  li {
    a {
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: #eee;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #155799;
        padding: 15px;
        color: #ffd731;
      }
    }
  }
}

// routerLinkActive
.active {
  background-color: #155799;
  padding: 15px;
  border-bottom: none !important;
  color: #ffd731 !important;
}
