<ul>
  <li>
    <a href="#">
      <i class="material-icons">home</i>&nbsp;
      Home
    </a>
  </li>
  <li>
    <a href="#">
        <i class="material-icons">account_box</i>&nbsp;
        About
    </a>
  </li>
  <li>
    <a href="#">
        <i class="material-icons">favorite</i>&nbsp;
        Contact
    </a>
  </li>
  <li>
    <a href="#">
        <i class="material-icons">build</i>&nbsp;
        Portfolio
    </a>
  </li>
  <li>
    <a href="#">
        <i class="material-icons">face</i>&nbsp;
        Story
    </a>
  </li>
</ul>

