section#main {
  background-color: #222;
  background-image: url(../../assets/matrix.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 96px);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif, 'Inter UI',sans-serif;
  font-family: 'ns', sans-serif;
}

wider_container {
  width: 85%;
}

.container {
  max-width: 42rem;
  margin: auto;
}

.main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 15;
}

.cta {
  display: inline-block;
  background: #eee;
  color: black;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0.4em;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #f8d902;
    background: black;
  }
}

.cta:hover ~ h1 span {
  color: black;
  background: #fff;
}

.main h1 {
  font-family: 'ns', 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  order: -1;
  padding: 0 0 2px 0;
}

.main h1 span {
  color: #eee;
  display: inline-block;
  background: black;
  margin-bottom: 5px;
  padding: 0 0.2em;
  transition: all 100ms ease-in-out;
}

.material-icons.md-48 { font-size: 48px; }

