<section id="contact">
  <div class="container wider_container">
      <div class="container">
          <div class="main">
              <a href="#" id="modalBtn" class="cta" (click)="showDialog = !showDialog">
                Frontend Developer
                <i class="material-icons md-48">keyboard_arrow_right</i>
              </a>
              <h1>
                <span>Milan </span>
                <br>
                <span>Živanov</span>
              </h1>
          </div>
        </div>
  </div>
</section>

<app-modal [(visible)]="showDialog">
</app-modal>
