* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


section#contact {
  background-color: #222;
  // background-image: url(../../assets/map-image.png);
  background-image: url(../../assets/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 96px);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif, 'Inter UI',sans-serif;
  font-family: 'ns', sans-serif;
}

wider_container {
  width: 85%;
}

.container {
  max-width: 42rem;
  margin: auto;
}

.main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 15;
}

.cta {
  display: inline-block;
  background: #eee;
  color: black;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0.4em;
  transition: all 100ms ease-in-out;

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #f8d902;
    background: black;
  }
}

.cta:hover ~ h1 span {
  color: black;
  background: #fff;
}

.cta .fa.fa-chevron-right {
  font-size: 0.8em;
  margin-left: 0.3em;
}


.main h1 {
  font-family: 'ns', 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  order: -1;
  padding: 0 0 2px 0;
}

.main h1 span {
  color: #eee;
  display: inline-block;
  background: black;
  margin-bottom: 5px;
  padding: 0 0.2em;
  transition: all 100ms ease-in-out;
}

.material-icons.md-48 { font-size: 48px; }


//
.modal {
  position: fixed;
  z-index: 16;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 96px);
  overflow: auto;
  background-color: rgba(0,0,0, 0.7);
  transition: all 0.3s;
}

.modal-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  padding:  20px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
              0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.modal-content img {
  height: auto;
  max-width: 100%;
}

.modal-content:hover > .closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: 0.3s all ease-in-out;
}

.modal-content:hover > img {
  transform: none;
}

.modal-content:after {
  content: "";
  display: table;
  clear: both;
}

.closeBtn {
  position: absolute;
  color: #ccc;
  display: none;
  font-size: 50px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: indianred;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.3);
}

@keyframes modalopen {
  0% {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    50% {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;

    }
    100% {
      opacity: 1;
      transition: all 0.3s ease-in-out;
  }
}
