<section id="technology">
</section>

<section class="container">
  <div class="wrapper">

    <!-- skill bar -->
    <div class="center">
      <h1>Softwere Skills</h1>
      <div class="skillBox">
        <div class="box">
          <p>Html5</p>
          <p>80%</p>
        </div>
        <div class="skill">
          <div class="skill_level" style="width: 80%"></div>
        </div>
      </div>
      <div class="skillBox">
        <div class="box">
          <p>css3</p>
          <p>70%</p>
        </div>
        <div class="skill">
          <div class="skill_level" style="width: 70%"></div>
        </div>
      </div>
      <div class="skillBox">
        <div class="box">
          <p>js</p>
          <p>50%</p>
        </div>
        <div class="skill">
          <div class="skill_level" style="width: 50%"></div>
        </div>
      </div>
      <div class="skillBox">
        <div class="box">
          <p>angular</p>
          <p>50%</p>
        </div>
        <div class="skill">
          <div class="skill_level" style="width: 50%"></div>
        </div>
      </div>
      <div class="skillBox">
        <div class="box">
          <p>git</p>
          <p>70%</p>
        </div>
        <div class="skill">
          <div class="skill_level" style="width: 70%"></div>
        </div>
      </div>
    </div>


  </div>
</section>
