section#technology {
  background-color: #222;
  background-image: url(../../assets/gears2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

@media only screen and (min-width: 120px) and (max-width : 767px) {
  section#technology {
    height: 300px;
  }
}
