section#technology {
  background-color: #222;
  background-image: url(../../assets/gears.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  // height: calc(100vh - 96px);
  height: 400px;
  background-size: cover;
}
