<section id="technology">
</section>

<section class="container">
  <div class="wrapper">

      <!-- chart -->
      <div style="width: 100%; padding: 50px">
        <canvas
            baseChart
            [chartType]="'horizontalBar'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"
            [colors]="chartColors"
            (chartClick)="onChartClick($event)">
        </canvas>
      </div>

  </div>
</section>
