<section id="portfolio">
</section>

<section class="container">
  <div class="wrapper">
    <h3>
      My work and tasks... that I made... still in progress ( :
    </h3>
    <div>
      <ul>
          <ng-container *ngFor="let work of works">
              <ng-container *ngIf="work.workLinks && work.workLinks.length > 0">
                <li *ngFor="let link of work.workLinks; index as i">
                  <a target="_blank" class="box cool-link"
                     href="{{link.link}}">
                     <div class="box-data">
                       <i class="material-icons">link</i>&nbsp;- {{link.name}}
                     </div>
                  </a>
                </li>
              </ng-container>
          </ng-container>
      </ul>
    </div>
  </div>
</section>
