section#portfolio {
  background-color: #222;
  background-image: url(../../assets/laptop-glasses.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;

  position: absolute;
  top: 95px;
  right: 0;
  left: 0;
}

.wrapper {
  padding: 10px 0;
}

.wrapper h3 {
  margin: 5px;
  padding: 0;
  text-decoration: none;
  color: #155799;
}

ul {
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 25%;
  padding: 50px;
  background-color: #eee;
  margin: 5px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #C0C0C0;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #155799;
}

.box-data {
  display: flex;
  align-items: center;
  color: #145799;
}

// hover border
.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
  position: relative;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #145799;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cool-link:hover::after {
  width: 100%;
}
