section#portfolio {
  background-color: #222;
  background-image: url(../../assets/laptop-glasses.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;

  position: absolute;
  top: 95px;
  right: 0;
  left: 0;
}


.wrapper {
  padding: 10px 0;
}

.wrapper p {
  margin: 5px;
  padding: 0;
  text-decoration: none;
  color: #155799;
}

ul {
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 25%;
  padding: 25px;
  background-color: #eee;
  margin: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    padding: 50px;
    background-color: #C0C0C0;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #155799;
}
