<!-- <div class="container-loader" *ngIf="!loader">
  <div class="loading"></div>
</div> -->

  <header class="header">
    <button (click)="toggleMenu()"
            class="hamburger">
      <span [ngClass]="menuActive ? 'active' : 'noActive'">
        toggle menu
      </span>
    </button>

    <div class="active-page">
      <h2>{{selectedPage.name}}</h2>
    </div>


    <!-- <div class="active-page" *ngIf="!selectedPage; else elseBlock">
      <h2>Home</h2>
    </div>
    <ng-template #elseBlock>
      <h2>{{selectedPage.name}}</h2>
    </ng-template> -->

  </header>

  <app-menu [@slideInOut]="menuState"
            (selected)="selectedPage=$event">
  </app-menu>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
