<!-- <div class="container-loader" *ngIf="!loader">
  <div class="loading"></div>
</div> -->

<div (selectStory)="getStory($event)">
  <header class="header">
    <button (click)="toggleMenu()"
            class="hamburger">
      <span [ngClass]="menuActive ? 'active' : 'noActive'">
        toggle menu
      </span>
    </button>
    <div class="active-page">
      <h2>{{selectedPage.name}}</h2>
    </div>
  </header>

  <app-menu [@slideInOut]="menuState"
            (selected)="selectedPage=$event">
  </app-menu>
  <!-- <app-main></app-main> -->
  <router-outlet></router-outlet>

</div>
