<div class="overlay"
     *ngIf="visible"
     (click)="toggleMenu()">
</div>

<header class="header">
  <button (click)="toggleMenu()"
          class="hamburger">
    <span [ngClass]="menuActive ? 'active' : 'noActive'">
      toggle menu
    </span>
  </button>

  <div class="active-page" *ngIf="selectedPage">
    <h2>{{selectedPage.name}}</h2>
  </div>


</header>

<app-menu [@slideInOut]="menuState"
          (selected)="selectedPage=$event">
</app-menu>

<main class="main">
  <router-outlet></router-outlet>
</main>
