.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;

  padding: 0 10px 0 0;
  h2 {
    color: #155799;
    transition: color .3s ease-in-out;
  }
}

.left {
  display: flex;
  align-items: center;
}

// menu toggle
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 85px;
  height: 95px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}

.hamburger span.active {
  display: block;
  position: absolute;
  top: 18px;
  left: 40px;
  right: 5px;
  height: 63px;
  width: 8px;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  transition: background-color .3s ease-in-out;
}

.hamburger span.active::before,
.hamburger span.active::after {
  display: block;
  position: absolute;
  width: 8px;
  height: 63px;
  background-color: #1a2580;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  content: "";
}

.hamburger span.active::after {
  left: 25px;
}

.hamburger span.active::before {
  left: -25px;
}

.hamburger span.noActive,
.hamburger span.noActive::before,
.hamburger span.noActive::after {
  display: block;
  position: absolute;
  top: 17px;
  left: 40px;
  right: 5px;
  height: 55px;
  width: 8px;
  background-color: #1a2580;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  content: "";
}

.hamburger span.noActive {
  height: 63px;
  top: 23px;
}

.hamburger span.noActive::before {
  left: -25px;
  height: 63px;
  top: -10px;
}

.hamburger span.noActive::after {
  left: 25px;
  height: 63px;
  top: -10px;
}

// open close
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0;
  outline: none;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  cursor: pointer;
}

// md icon size
.material-icons.md-48 { font-size: 48px; }

.main {
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  cursor: pointer;
}

