.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

@media (min-width: 768px) {
  .dialog {
    top: 40px;
  }
}

.modal {
  position: fixed;
  z-index: 16;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 96px);
  overflow: auto;
  transition: all 0.3s;
}

.modal-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  padding:  20px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
              0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.modal-content img {
  height: auto;
  max-width: 100%;
}

.modal-content:hover > .closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: 0.3s all ease-in-out;
}

.modal-content:hover > img {
  transform: none;
}

.modal-content:after {
  content: "";
  display: table;
  clear: both;
}

.closeBtn {
  position: absolute;
  color: #ccc;
  display: none;
  font-size: 50px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: indianred;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(238, 238, 238, 0.3);
}
