/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'ns';
  src: url('./assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.otf')  format('opentype'),
       url('./assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.woff') format('woff'),
       url('./assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.ttf')  format('truetype'),
       url('./assets/fonts/NeoSansStd-Bold/NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: calc(100vh - 96px);
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Lato', sans-serif;
}

// loading animation
.container-loader {
  width: 100%;
  height: calc(100vh - 96px);
  z-index: 1000;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;

  .loading {
    border: 6px solid #ccc;
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in-out;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-720deg)
  }
}

// page wrapper
section.container {
  width: 100%;
  float: left;
  position: relative;
  top: 400px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 2rem 0;
    text-align: justify;
  }
}
